<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="william.springboot.mapper.UserMapper">
    <!--结果集映射-->
    <resultMap id="BaseResultMap" type="william.springboot.entity.UserEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>


    <sql id="BaseColumn">
        id, name, age
    </sql>

    <select id="listByAge" resultMap="BaseResultMap">
        select
        <!--引用SQL片段-->
        <include refid="BaseColumn"/>
        from user
        where age = #{age}
    </select>

</mapper>